.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vh;
  margin-left: 70vh;
}

.auth-box {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.auth-box img {
  width: 120px; /* Taille réduite */
  margin-bottom: 15px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.auth-box input:focus {
  border-color: #44ad5c;
  outline: none;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background-color: #44ad5c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.auth-box button:hover {
  background-color: #44ad5c;
}

/* Lien */
.auth-link {
  display: block;
  margin-top: 12px;
  color:  #44ad5c;
  text-decoration: none;
  font-size: 14px;
}

.auth-link:hover {
  text-decoration: underline;
}
